<ng-include src="'views/partial/empl_login.html'"></ng-include>

<div class="row">
	<div class="container" style="padding-top: 20px"
		ng-controller="emplCtrl" ng-init="initEmpl()">
		<div class="card">
			<div class="card-content">
				<div class="center-align">
					<span class="card-title"> {{labels.title}} </span>
				</div>
				<div class="row">
					<div class="col m4 s4 center-align">
						<img class="materialboxed" src="{{data.ui.picture}}">
					</div>
					<div class="col m8 s8">

						<div class="center-align">
							<div width="500">
								<table class="responsive-table">
									<thead>
										<tr>
											<th data-field="id">{{labels.lbl_name}}</a>
											</th>
											<th data-field="name">{{labels.lbl_bday}}</th>
											<th data-field="email">{{labels.lbl_email}}</th>
											<th data-field="phone">{{labels.lbl_phone}}</th>
											<th data-field="mobile">{{labels.lbl_mobile}}</th>
											<th data-field="position">{{labels.lbl_position}}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="{{data.ui.permalink}}" target="_blank">{{data.ui.display_name}}
											</a></td>
											<td>{{data.ui.birthday}}</td>
											<td>{{data.ui.active_email}}</td>
											<td>{{data.ui.phone}}</td>
											<td>{{data.ui.mobile}}</td>
											<td>{{data.ui.title}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="row center-align">
					<div class="col m6 s6">
						<h5>
							{{labels.lbl_sum_contacts}} :
							<bold>{{data.ui.submitted_contacts}}</bold>
						</h5>
					</div>
					<div class="col m6 s6">
						<h5>
							{{labels.lbl_sum_total}} :
							<bold>{{data.ui.total_contacts}}</bold>
						</h5>
					</div>
				</div>
				<div class="row center-align">
					<div class="col m4 s4"></div>
					<div class="col m4 s4">
						<a
							class="waves-effect waves-light btn {{  agreement ? '' : 'disabled' }}"><i
							class="material-icons right">send</i>{{labels.btn_grat}}</a>
						<p>
							<input type="checkbox" id="ch1" ng-model="agreement" /> <label
								for="ch1">{{labels.cnt_agreement}}</label>
						</p>
					</div>
					<div class="col m4 s4"></div>
				</div>
				<div class="row  center-align">
					<div class="col m4 s4"></div>
					<div class="col m4 s4">
						<a class="waves-effect waves-light btn red"><i
							class="material-icons right">delete</i>{{labels.btn_revoke}}</a>
					</div>
					<div class="col m4 s4"></div>
				</div>
			</div>
		</div>
	</div>
</div>