
<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">COCA - Social Media Analysis</a>
	</div>
</nav>

<div class="row">
	<div class="container" style="padding-top: 20px">
		<div class="card" ng-controller="loginCtrl">
			<div class="card-content">
				<div class="center-align">
					<span class="card-title"><img class="responsive-img"
						src="res/geny_logo.jpg"></span>
				</div>
				<div class="center-align">
					<a href="{{href.login_sales}}"
						class="waves-effect waves-light btn-large"><i
						class="material-icons right">assessment</i>{{labels.sales}}</a>
				</div>
				<br> <br>
				<div class="center-align">
					<a href="{{href.login_empl}}"
						class="waves-effect waves-light btn-large"><i
						class="material-icons right">people</i>{{labels.empl}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
