
<ng-include src="'views/partial/sales_nav.html'"></ng-include>

<main ng-controller="salesCtrl" ng-init="initSales()">
<div class="container">
	<div class="center-align">
		<h4>{{labels.lbl_head}}</h4>
		<div class="row">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active">
						<i class="material-icons">pie_chart</i>{{labels.charts.lbl_reporting}}
					</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s6">
								<p>
								<h5>{{labels.charts.lbl_sum_contacts}} :
									{{data.status.total}}</h5>
								<br> <br>
								<h5>{{labels.charts.lbl_sum_employees}} :
									{{data.status.empl}}</h5>
								</p>
							</div>
							<div class="col s6">
								<!-- CHART -->
								<canvas id="salesChart" width="600" height="300"></canvas>
								<!-- CHART -->
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col s9">
				<div class="card-panel-mod">
					<div class="input-field">
						<label for="icon_prefix">Suche</label> <input id="icon_prefix"
							type="text" class="validate active" ng-model="sort.searchString">
					</div>
				</div>
			</div>
			<div class="col s3">
				Nicht-interessante Kontakte anzeigen? <br> <br>
				<div class="switch">
					<label> Nein <input type="checkbox" ng-model="sort.showNI">
						<span class="lever"></span> Ja
					</label>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a href="#tabpool">{{labels.lbl_pool}}</a>
					</li>
					<li class="tab col s3"><a href="#tablead">{{labels.lbl_lead}}</a>
					</li>
				</ul>
			</div>
			<div id="tabpool" class="col s12 container">
				<table class="highlight ">
					<thead>
						<tr>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'company' ; sort.reverse = !sort.reverse">
									{{labels.table.company}} <span
									ng-show="sort.type == 'company' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'company' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'position' ; sort.reverse = !sort.reverse">
									{{labels.table.title}} <span
									ng-show="sort.type == 'position' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'position' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'empldisplayname' ; sort.reverse = !sort.reverse">
									{{labels.table.employee}} <span
									ng-show="sort.type == 'empldisplayname' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'empldisplayname' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="x in data.pool | orderBy:sort.type:sort.reverse | filter:getFilter()"
							ng-click="showDetails(x)">
							<td>{{ x.company }}</td>
							<td>{{ x.position }}</td>
							<td>{{ x.empl_displayname}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tablead" class="col s12 container">
				<table class="highlight ">
					<thead>
						<tr>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'company' ; sort.reverse = !sort.reverse">
									{{labels.table.company}} <span
									ng-show="sort.type == 'company' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'company' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'position' ; sort.reverse = !sort.reverse">
									{{labels.table.title}} <span
									ng-show="sort.type == 'position' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'position' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'empldisplayname' ; sort.reverse = !sort.reverse">
									{{labels.table.employee}} <span
									ng-show="sort.type == 'empldisplayname' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'empldisplayname' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="x in data.lead | orderBy:sort.type:sort.reverse | filter:getFilter()"
							ng-click="showDetails(x)">
							<td>{{ x.company }}</td>
							<td>{{ x.position }}</td>
							<td>{{ x.empl_displayname}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div id="modalinfo" class="modal">
	<div class="modal-content">
		<h4>modalpool</h4>
		<p>{{html.message}}</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
	</div>
</div>
<div id="modaldetails" class="modal">
	<div class="modal-content ">
		<h4>{{labels.details.lbl_details}}</h4>
		<div class="row ">
			<div class="col s6">
				<img class="materialboxed" src="{{data.modal.picture}}">
			</div>
			<div class="col s6">
				<table class="center-align">
					<tbody>
						<tr>
							<td><b>{{labels.details.lbl_name}}</b></td>
							<td><b></b>{{data.modal.name}}</b></td>
						</tr>
						<tr>
							<td><b>{{labels.details.lbl_position}}</b></td>
							<td>{{data.modal.position}}</td>
						</tr>
						<tr>
							<td><b>{{labels.details.lbl_mail}}</b></td>
							<td><b></b>{{data.modal.mail}}</b></td>
						</tr>
						<tr>
							<td><b>{{labels.details.lbl_phone}}</b></td>
							<td>{{data.modal.phone}}</td>
						</tr>
						<tr>
							<td><b>{{labels.details.lbl_mobile}}</b></td>
							<td>{{data.modal.mobile}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer center-align">
		<div class="row ">
			<div class="col s3"></div>
			<div class="col s2">
				<a ng-click="changeStatus('INTERESTING')" class="waves-effect waves-light btn modal-action modal-close">Interessant</a>
			</div>
			<div class="col s3">
				<a ng-click="changeStatus('UNINTERESTING')" class="red waves-effect waves-light btn modal-action modal-close">Uninteressant</a>
			</div>
			<div class="col s2">
				<a class="waves-effect waves-teal btn-flat modal-action modal-close">Schließen</a>
			</div>
			<div class="col s2"></div>
		</div>
	</div>
</div>
<!-- Modals --> </main>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('ul.tabs').tabs();
		$('.modal-trigger').leanModal();
		$('.collapsible').collapsible({
			accordion : false
		// A setting that changes the collapsible behavior to expandable instead of the default accordion style
		});
	});
</script>
