
<ng-include src="'views/partial/sales_nav.html'"></ng-include>

<main>
<div class="container" ng-controller="salesCtrl" ng-init="initSales()">
	<div class="center-align">
		<h4>{{labels.lbl_head}}</h4>
		<div class="row">
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active">
						<i class="material-icons">pie_chart</i>{{labels.charts.lbl_reporting}}
					</div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s6">
								<p>{{labels.charts.lbl_sum_contacts}} : 0</p>

								<p>{{labels.charts.lbl_sum_employees}} : 0</p>
							</div>
							<div class="col s6"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="card-panel-mod">
				<div class="input-field">
					<label for="icon_prefix">Suche</label> <input id="icon_prefix"
						type="text" class="validate active" ng-model="sort.searchString">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a href="#tabpool">{{labels.lbl_pool}}</a>
					</li>
					<li class="tab col s3"><a href="#tablead">{{labels.lbl_lead}}</a>
					</li>
				</ul>
			</div>
			<div id="tabpool" class="col s12 container">
				<table class="highlight ">
					<thead>
						<tr>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'company' ; sort.reverse = !sort.reverse">
									{{labels.table.company}} <span
									ng-show="sort.type == 'company' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'company' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'position' ; sort.reverse = !sort.reverse">
									{{labels.table.title}} <span
									ng-show="sort.type == 'position' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'position' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'employee.displayname' ; sort.reverse = !sort.reverse">
									{{labels.table.employee}} <span
									ng-show="sort.type == 'employee.displayname' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'employee.displayname' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="x in data.pool | orderBy:sort.type:sort.reverse | filter:sort.searchString"
							ng-click="showDetailsPool(x)">
							<td>{{ x.company }}</td>
							<td>{{ x.position }}</td>
							<td>{{ x.employee.firstname}} {{ x.employee.lastname}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tablead" class="col s12 container">
				<table class="highlight ">
					<thead>
						<tr>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'company' ; sort.reverse = !sort.reverse">
									{{labels.table.company}} <span
									ng-show="sort.type == 'company' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'company' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'position' ; sort.reverse = !sort.reverse">
									{{labels.table.title}} <span
									ng-show="sort.type == 'position' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'position' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th><a href="{{routes.dashboard_sales}}#"
								ng-click="sort.type = 'employee.displayname' ; sort.reverse = !sort.reverse">
									{{labels.table.employee}} <span
									ng-show="sort.type == 'employee.displayname' && !sort.reverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sort.type == 'employee.displayname' && sort.reverse"
									class="fa fa-caret-up"></span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="x in data.lead | orderBy:sort.type:sort.reverse | filter:sort.searchString">
							<td>{{ x.company }}</td>
							<td>{{ x.position }}</td>
							<td>{{ x.employee.firstname}} {{ x.employee.lastname}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div id="modalinfo" class="modal">
	<div class="modal-content">
		<h4>modalpool</h4>
		<p>{{html.message}}</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
	</div>
</div>
</main>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('ul.tabs').tabs();
		$('.modal-trigger').leanModal();
		$('.collapsible').collapsible({
			accordion : false
		// A setting that changes the collapsible behavior to expandable instead of the default accordion style
		});
	});
</script>
